* {
    color: black!important;
    background-color: white!important;
    border-color: black!important;
}
img, iframe, #back-top, #smallheader, #bigheader, audio, .sidebar{
    display: none;
}

.actualites {
    width: 100%;
}