/*Définir le style global*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
}

*{
 box-sizing: border-box;
}


/*Classes de style*/

#bigheader {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    width: auto;
    background-color: #ED213A;
    background-position: top;
    background-size: cover;
}

#bigheader img {
  width: 200px;
  height: 100px;
}

#smallheader {
  background-color: crimson;
  text-align: right;
  padding: 0.7rem;
  color: black;
}


#smallnav ul{
    list-style: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#smallnav ul li {
    display: inline-block;
    padding: 0.5rem;
    background-color: white;
}
#smallnav ul li:hover {
    color: white;
    background-color: black;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #ED213A;
  text-align: center;
}
#nav {
    text-align: center;
    background-color: rgba(255, 255, 255);
    color: black!important;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 68%;
    height: 80%;

}
#nav ul{
    list-style: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#nav ul li {
    display: inline-block;
    padding: 1rem;
}
#nav ul li:hover {
    color: white;
}

.container {
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    width: 100%;
    height: inherit;
    padding: 3%;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}
.actualites {
  background-color: rgba(255, 255, 255);
  padding: 1%;
  width: 80%;
  height: auto;
  margin-bottom: 20px;
}

.actualites {
  color: #ED213A;
}

.actualites p{
  width: 80%;
  color: white;
  background-color: #ED213A;
  padding: 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.centerItems {
  display: flex;
  align-items: center;
  justify-content: center;
}
.backtotop a {
  color: #ED213A;
  position: fixed;
  float: right;

}

#back-top {
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
  padding: 50px;
  opacity: 0.7;
}

.nouvelle img{
  width: 80%;
}

.nouvelle {
  margin-top: 20px;
  border-style: solid;
  text-align: center;
  border-color: crimson;
  border-radius: 10px;
  border-width: medium;

}

.nouvelleapo img{
  width: 80%;
  height: 50%;

}

.nouvelleapo {
  text-align: center;
}



.galerie {
     display: grid;
     padding: 5px;
     grid-template-columns: auto auto auto auto;
     grid-template-rows: auto;
}

.galerie a img {
  width: 99%;
  height: 99%;
}

.pagename {
  width: 28%;
  text-align: center;
}

.fullSize {
  justify-content: center;
  width: 100%;
  height: 80vh;
  background-image: url("../img/Tenacious_D.jpg");
  background-size: cover;

}

/*Élements de style réutilisables*/

/*Page actuelle - Arrière plan plus foncé*/
#actuel {
    background-color: #ED213A ;
    color: white;
}

.bouton {
  width: auto;
  height: auto;
	box-shadow: 0px 0px 18px -7px #000000;
	background-color:#ed2139;
	border-radius:68px;
	border:1px solid #ed2139;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
  font-size: 4.5em;
}
.bouton:hover {
  box-shadow: 0px 0px 18px -20px #000000;
  font-size: 4.7em;
}
.bouton:active {
	position:relative;
	top:1px;
}
.album{
  height: auto;
  font-size: 1rem;
  border-radius: 10px;
  background-color: white;
  color: #ED213A;
  padding: 1%;
  width: 100%;
  display: inline-block;
  margin: 1%;
}
.discographie  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.discographie img {
  width: 50%;
  height: 50%;
}

.album .annee {
  background-color: #ED213A;
  color: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  float: right;
}


.backtotop{
  position: fixed;
  bottom:20px;
  right: 2%;
  z-index: 100;
  padding: 50px;
  background-color: black;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
}

.form {
  background-color: white;
  border-radius: 20px;
  padding: 5%;
}

.formField {
    border-radius: 20px;
    border-color:  none;
    padding: 10px;
    text-emphasis: bold;
    display: block;
    background-color: #ED213A;
    color: white;
    width: 200px;
    margin: 10px;
}

.flexactualites {
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  text-align: center;
  padding: 30px;
  width: 20%;
  background-color: crimson;
  color: white;
  position: static;
}

.sidebar ul {
  list-style: none;
  color: white;
  width: 100%;
}
.sidebar li {
  color: white;
}
.sidebar h2{
  color: white;
}

.imagesarticle {
  width: 50%;
  height: 50%;
}

.source{
  padding: 20px;
background-color: white;
text-align: center;
margin-left: auto;
margin-right: auto;
}

.source a{
  text-decoration: none;
  color: black;
}

.source a:hover{
  color: white;
}

.stats {
  padding: 1%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.fence {
  border-style: solid;
  border-color: crimson;
  border-radius: 10px;
  border-width: medium;
  color: black;
  height: 385px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}


.fence a{
  color: black;
  text-decoration: underline;
}

.fence a:hover{
  color: crimson;
  text-decoration: none;
}
.statistiques {
  display: grid;
  grid-template-rows: auto;
}
.description{
  background: white;
  width: 80%;
  height: auto;
  padding: 3%;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1em;
}
.pageStatistiques{
    background: white;
    width: 100%;
    height: inherit;
    padding: 3%;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

.pageStatistiques h1,h2,h3{
  color: #ED213A;
}

.centerText{
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.statistique {
  border-style: solid;
  text-align: left;
  border-color: crimson;
  border-radius: 5px;
  border-width: medium;
  color: black;
  height: auto;
  margin-bottom: 10px;
  display: inline-grid;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 5px;
}

.statistique img{
  margin-top: auto;
  margin-bottom: auto;
  height:auto;
  width: 100%;
}

.statistique a{
  color: black;
  text-decoration: underline;
}

.statistique a:hover{
  color: crimson;
  text-decoration: none;
}

.evaluation {
  text-align: center;
  color: crimson;
  font-size: 2em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  border-color: crimson;
  border-radius: 30%;
  border-style: solid;
  border-width: 5px;
}
.evaluation hr{
  color: crimson;
}
.membres{
  padding: 1%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.fencemembres {
  border-style: solid;
  text-align: left;
  border-color: crimson;
  border-radius: 10px;
  border-width: medium;
  color: black;
  display: flex;
  flex-wrap: wrap;
  height: 385px;
}

.membresp h2{
  font-size: 250%
}

.membresp{
  background: white;
  width: 80%;
  height: 380px;
  padding: 3%;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 100%;
}

.membresp a{
    text-decoration: underline;
}

.membresp a:hover{
  text-decoration: none;
  color: #ED213A;
}

.fencemembres img{
  height:380px;
  width: 20%;
}

.fencea {
  background-size: cover;
  background-image: url("../img/TenciousDshow.jpg");
  border-style: solid;
  border-color: crimson;
  border-radius: 10px;
  border-width: medium;
  color: black;
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 200px;
}


.fencea a{
  color: black;
  text-decoration: underline;
}

.fencea a:hover{
  color: crimson;
  text-decoration: none;
}

.modelza{
    background: white;
    width: 100%;
    height: inherit;
    padding: 3%;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

.modelza img{
  height: auto;
  width: 100%
}
.modelza h1,h2,h3{
  color: #ED213A;
}

.video {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.extrait {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10%;
  padding-bottom: 10%;
}

.flexcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#container {
    background-color: #ED213A;
}

.hamburger-menu {
  display: none;
  margin-left: auto;
}
.hamburger-bar {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.membres {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.membre {
  margin: 0 auto;
  width: 90%;
  padding: 20px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.membre img{
  width: 50%;
  margin: auto auto;
}

.membre .description {
  color: crimson;
  text-align: center;
  margin: 0 auto;
}

.apropos {
  background-color: white;
  padding: 10px;
  color: black;
}

.visualiseurImage {
  background-color: white;
  padding: 10px;
}
.visualiseurImage img{
  width: 100%;
}

/*RESPONSIVE MEDIA QUERIES*/

@media screen and (min-width: 1024px) {
  .video iframe{
    width: 200%;
    margin-left: -25%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #back-top {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .actualites {
    width: 100%;
  }
  .galerie {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 1024px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .video iframe{
    width: 200%;
    margin-right: none;
    margin-left: -50%;
    padding-top: none;
    padding-bottom: none;
  }
  .extrait {
    padding-top: none;
    padding-bottom: none;
  }
  .membres {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
  .membre {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  #back-top {
    display: none;
  }
  
  #nav ul li {
    display: block;
    padding: 0.5rem;
  }
  .bouton {
    font-size: 1.8em;
  }
  .bouton:hover{
    font-size: 2em;
  }
  #smallheader #smallnav {
    display: none;
  }
  .hamburger-menu {
    display: block;
    margin-left: auto;
  }
  .discographie {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .statistiques {
    grid-gap: none;
  }
  .statistique {
    grid-template-columns: auto;
    grid-template-rows: auto;
    font-size: 0.7em;
  }
  .statistique img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }
  .description {
    height: 50%;
    width: 100%;
  }
  .evaluation {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: none;
    margin-bottom: none;
    padding: 0px 50px;

  }
  .sidebar {
    display: none;
  }
  .actualites {
    width: 100%;
  }
  .galerie {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

}

@media screen and (max-width: 1320px) and (min-width: 768px){
  .discographie {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
